{% extends "mangaapp/_base.html" %}
{% block content %} 
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="float-right">
                <a class="btn btn-outline-secondary" href="{% url 'index' %}">戻る</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                {% for rank,name in zip_list %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-3">
                            <p>{{ rank }}</p>
                        </div>
                        <div class="col-9">
                            <p>{{ name }}</p>
                        </div>
                    </div>
                </li>
                {% empty %}
                <li class="list-group-item">
                    対象のデータがありません
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}